<!doctype html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://blimey.hel1.your-objectstorage.com/aena28_be9189825b.webp"
    />
    <meta name="generator" content={Astro.generator} />
    <title>AENA Mail Wifi</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
